<div class="jumbotron">
	<div class="col-md-12 text-center">
	<h1>Ritlys String Generator</h1>
</div>
</div>
<div class="jumbotron">
	<ul>
		<li>Search</li>
		<li>Create</li>
		<li>WOW</li>
		<li>wow wow</li>
		<li>if only these functioned</li>
	</ul>
</div>
