<div class="jumbotron">
	<div class="col-md-12 text-center">
	<h1>Ritlys String Generator</h1>
</div>
</div>
<div class="jumbotron">
	<div class="col-md-12 text-center">
	Create a randomly generated unique url for yourself!
</div>
</div>
