<div class="jumbotron">
	<div class="col-md-12 text-center">
	<h1>Ritlys String Generator</h1>
</div>
</div>
<div class="jumbotron">
	<ul>
		<li>contents</li>
		<li>more contents</li>
		<li>wow so many</li>
		<li>wow wow</li>
		<li>if only these functioned</li>
	</ul>
</div>
